<!--https://mdbootstrap.com/docs/standard/navigation/footer/-->
<footer class="bg-dark text-center text-white">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        <div>
            <!--<a href="" class="me-4 text-reset">-->
            <i class="bi bi-facebook"></i>
            <!--</a>-->
            <!--<a href="" class="me-4 text-reset">-->
            <i class="bi bi-twitter"></i>
            <!--</a>-->
            <!--<a href="" class="me-4 text-reset">-->
            <i class="bi bi-google"></i>
            <!--</a>-->
            <!--<a href="" class="me-4 text-reset">-->
            <i class="bi bi-instagram"></i>
            <!--</a>-->
        </div>
        © 2021 Copyright: <b>SCB</b>


    </div>
</footer>
